:root {
  --background-color: #eee;
  --text-color: black;
  --icon-color: darkorange;
  --btn-color: #f1c40f;
  --accent-color: #ddd;
  --accent-color2: #444444;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-accent: 0.9rem;
  --fs-body: 1rem;
  --fs-head: 1.5rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Lato', sans-serif;
}

/* header {
  width:100%;
  position: fixed;
  top: 0;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 2rem;
  border: 3px solid red;
  background-color: var(--background-color);
} */
header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

nav ul {
  width: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wrapper {
  margin-top: 4.8rem;
  /* add mq */
}

.container-one {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: var(--fs-head);
}

form {
  margin: 1rem;
}

.container-one input[type='submit']:hover {
  background-color: orange;
}

.container-one input[type='submit'] {
  max-width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background-color: var(--btn-color);
  cursor: pointer;
  display: block;
}

.grid-page-two {
  display: flex;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: var(--icon-color);
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vh;
  padding: 5px;
}

#how-it-works {
  margin-top: 50px;
  display: flex;
  box-sizing: center;
}

iframe {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  display: block;
  background-color: transparent;
}
.page-four {
  display: flex;
}

#pricing {
  margin-top: 60px;
  display: flex;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  text-align: center;
  padding-bottom: 4px;
}

.product > .level {
  background-color: var(--accent-color);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
footer {
  margin-top: 30px;
  background-color: var(--accent-color);
  padding: 20px;
}

.footer > ul {
  display: flex;
  justify-content: flex-end;
}
